 <section id="colections" >
      <div class="container">
            <h2>Productos Destacados</h2>
            <hr style="margin-bottom:40px;">
            <div class="row">
                {{#each destacados}}
                    <div class="col-md-4">
                        <div class="card" style="">
                            <img class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">${{price}}</p>
                                <p class="card-text">{{description}}</p>
                                <a href="/add-to-cart/{{_id}}" class="btn btn-primary">Add to the Shopping Cart</a>
                                <a href="/detail/{{_id}}" class="btn btn-info">Details</a>

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
      </div>
</section>