{{> header_internal }}

<div class="container pt-5">
    <div class="row">
    {{#each accesorios}}
    <div class="col-md-4 space-bottom">
        <div class="card" style="">
            <img class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
            <div class="card-body icons"> 
                <a href="/user/add-to-cart/{{_id}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a>
                 <a href="/product_details/{{_id}}" class="btn btn-info"><i class="fa fa-eye"></i></a>
            </div>
    
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{price}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>
