{{> header_internal }}
<div class="container space-up-down">
    <div class="row">
        <div class="col-lg-12">
             <h1>Datos de Usuario</h1>
             <hr>
        </div>
       
        <div class="col-lg-12">
                <h3>Nombre: {{data.name}} {{data.lname}}</h3>
        </div>
        <div class="col-lg-12">

        <h3>Correo electrónico: {{data.email}} </h3>
        </div>
        <div class="col-lg-12">
            
        <h3>Dirección: {{data.address}}</h3>
        </div>
        <div class="col-lg-12">
            
        <h3>Teléfono: {{data.phone}}</h3>
        </div>

    </div>
</div>